<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a1b1_fn.a1b1_fn.a1b1_fn" 
	android:versionCode="1"
    android:versionName="1.0"
	>
	
	<!-- uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/ -->
	
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
	
	<!-- uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" / -->
		
	<!-- uses-sdk android:minSdkVersion="8" android:targetSdkVersion="23" / -->

	<!-- uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" / -->
		
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="29" />		


    <application		
		
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"   
        
        android:exported= "true"
		
	android:resizeableActivity = "true">

        <activity
            android:name=".a1B1"
			
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

		</activity>
			

		<receiver
			android:name=".AutoStart"
			android:enabled= "true"
			android:exported= "false"		
			>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>	
	
		<service android:name=".a1B1svc" android:process=":service"/>

		<activity android:name=".aBTc1"/>
			
		<provider
			android:name="androidx.core.content.FileProvider"			
			android:authorities="a1b1_fn.a1b1_fn.a1b1_fn.provider1"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data

				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"
			/>

		</provider>		
			
			
			
		<activity android:name=".aBTbHOME"/>		
		
		<activity android:name=".DevInfo"/>

    </application>

</manifest>
